*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

$border-color: rgb(163, 163, 163);

body {
  background-color: rgb(58, 68, 77);
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  outline: none;
  margin: 1rem;
  font-size: 1.2rem;
  color: black;
  padding: 0.3rem 0.5rem;
  border: 2px solid $border-color;
  text-align: center;
  &:focus {
    border: 2px solid black;
  }
}

.letter-bold {
  font-weight: bold;
}

select,
option {
  color: black;
}

.top {
  padding: 1rem;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

.mid {
  .mid-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    select {
      width: 50%;
      margin: 0 auto;
      padding: 0.2rem 0.3rem;
      border: 2px solid $border-color;
      outline: none;
      &:focus {
        border: 2px solid black;
      }
    }
    div {
      display: flex;
      flex-direction: column;
    }
  }
  margin: 2rem auto;
  width: 80%;
  text-align: center;
  h4 {
    font-size: 1.1rem;
  }
}

.bottom {
  @extend .top;
  position: fixed;
  width: 100%;
  bottom: 0;
  user-select: none;
  .name {
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(152, 234, 255);
    text-transform: uppercase;
  }
}
